# =========================================
# 🚫 Beat Box X - .gitignore
# =========================================

# 🎵 1. Media Folders (Badhu Cloudinary par che)
music/
images/
*.mp3
*.mp4
*.m4a
*.jpg
*.jpeg
*.png
*.webp

# 🚀 2. Backend / Downloader Scripts (API Keys Security)
downloader.py


# 🐍 3. Python Cache & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env/

# 🔐 4. Security
.env
secret.json
keys.txt

# 💻 5. System Files (PC no kachro)
.DS_Store
Thumbs.db
desktop.ini